.page {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  border-radius: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.column {
  float: left;
  width: 50%;
}
